@import "tailwindcss";

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

.cart-dot {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: orangered;
  border-radius: 50%;
}



.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}


@theme {
  --breakpoint-s: 25rem;
}

