@import "tailwindcss";

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}


.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}


@theme {
  --breakpoint-s: 25rem;
}

